:root {
    /*my choice of colors suck i know it*/
    --white: white;
    --gray: #858585;
    --darkgreen: darkgreen;
    --ligthgreen: lightgreen;
    --black: #0A0A0A;
    --eurieblack: #151414;
}
/*themes*/
.escuro {
    --bg: var(--eurieblack);
    --bg-nav: var(--black);
    --header: var(--darkgreen);
    --text: var(--white);
}

.claro {
    --bg: var(--white);
    --bg-nav: var(--gray);
    --header: var(--ligthgreen);
    --text: var(--black);
}

body {
    color: var(--text);
    background: var(--bg);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;

}

ul {
    list-style-type: none;
    margin: 0;
}

.theme {
    height: 50px;
    width: 50px;
}

a {
    color: currentColor;
    text-decoration: none;
}

main {
    min-height: 1000px;
    padding: 2rem;
}

.navbar {
    height: 70px;
    width: 100%;
    background:var(--bg-nav);
    color:var(--text);
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.logo {
    margin: 2em 0 0;
    width: 180px;
    height: 180px;
}

header {
    padding: 1em;
    background: var(--header);
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    text-align: center;
}